<div class="container-fluid">

	<div class="row row-fluid row-banner">

	  	<div class="row-fluid row-top-img">
	    	<div class = "col-md-4"></div>
		  	<div class = "col-md-4">
				<!--<img src = "@routes.Assets.at("images/cropped-logo.png")" class="img-responsive center-block header">-->
		  	</div>
		  	<div class = "col-md-4"></div>
	  	</div> 
	
	  	<div class = "row-fluid row-top-txt">
	    	<div class = "col-md-12">
				<h1 class="text-center text-top ind-title">Open Class Knowledge Base </h1>
				<p class = "text-center text-top ind-paragraph">Made by students, for students, the Open Class Knowledge Base features a collaborative environment that lets you interact with your classmates and professors like never before.</p>
			</div>
	  	</div>
  	</div>

  	<div class = "row row-fluid row-even">
  		<div class = "col-md-offset-1 col-md-4 col-width">
  			<img class = "center-block content-img wow fadeInLeft" data-wow-offset="370" src = "@routes.Assets.at("images/content.png")" onload="this.width/=1.1;this.onload=null;">
  		</div>
  		<div class = "col-md-offset-1 col-md-5 col-width">
  			<h1 class = "ind-title"> Content at your fingertips </h1><br>
  			<p class = "pull-left ind-paragraph">
  				The Open Class Knowledge Base has content from all parts of ICS 211.  From simple review topics to in-depth analysis of sorting algorithms, the Open Class Knowledge Base will have what you're looking for.
  			</p>
  		</div>
  	</div>
  	<!-- <hr> -->

  <div class = "row row-fluid row-odd">
  	<div class = "col-md-offset-1 col-md-5 col-width">
  		<h1 class = "ind-title"> Course collaboration </h1><br>
  		<p class="ind-paragraph">The Open Class Knowledge Base is driven by the peers you learn with and the instructors you learn from.  Connect, communicate, and collaborate with people you know and names you recognize.</p>
  	</div>
  	<div class="col-md-4 col-width">
  		<img class = "odd-pic center-block wow fadeInRight" data-wow-offset="420" src = "@routes.Assets.at("images/coursecollab.png")">
  	</div>
  </div>
  <!-- <hr> -->

  <div class = "row row-fluid row-even">
  	<div class = "col-md-offset-1 col-md-4 col-width">
  		<img class = "center-block wow fadeInLeft" data-wow-offset="430" src = "@routes.Assets.at("images/past.png")" onload="this.width/=1.1;this.onload=null;">
  	</div>
  	<div class="col-md-offset-1 col-md-5 col-width col-txt">
  		<h1 class = "ind-title">Learn from the past, prepare for the future</h1>
  		<p class = "pull-left ind-paragraph">
  			Got a question?  Chances are, someone may have already asked it. Utilize this feature and collaborate with the community to find new answers to old questions.
  		</p>
  	</div>
  </div>
  <!-- <hr> -->

  <div class = "row row-fluid row-odd">
  	<div class = "col-md-offset-1 col-md-5 col-width col-txt">
  		<h1 class = "ind-title">Beyond the classroom</h1>
  		<p class = "pull-left ind-paragraph">
  			Open Class Knowledge Base expands on the same topics covered in class by offering different perspectives on the same problem. Go beyond the textbook and spend less time searching and more time learning.
  		</p>
  	</div>
  	<div class="col-md-4 col-width">
  		<img class = "center-block odd-pic wow fadeInRight" data-wow-offset="460" src = "@routes.Assets.at("images/designed.png")" onload="this.width/=1.1;this.onload=null;">
  	</div>
  </div>
  <!-- <hr> -->

  <div class = "row row-fluid row-even">
  	<div class = "col-md-offset-1 col-md-4 col-width">
  		<img class = "center-block wow fadeInLeft" data-wow-offset="480" src = "@routes.Assets.at("images/mobile.png")" onload="this.width/=1.1;this.onload=null;">
  	</div>
  	<div class="col-md-offset-1 col-md-5 col-width col-txt">
  		<h1 class = "ind-title"> Learn anywhere, anytime </h1>
  		<p class = "pull-left ind-paragraph">Access the Open Class Knowledge Base from your tablet, mobile phone, or your laptop.  Contribute content and ask questions wherever you are, whenever you want.</p>
  	</div>
  </div>
  <div class="signup-button">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  </div>